@model MyFirstWebApp.Models.CashierViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cashier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CashierName" class="control-label"></label>
                <input asp-for="CashierName" class="form-control" />
                <span asp-validation-for="CashierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>

           
            <div>
            <label asp-for="User"></label>
            <select asp-for="UserId" asp-items="Model.Users"></select>
            <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
            @if(Model.ShopModelId == 0)
            {
                <div>
            <label asp-for="ShopModelId"></label>
            <select asp-for="ShopModelId" asp-items="Model.Shops"></select>
            <span asp-validation-for="ShopModelId" class="text-danger"></span>
                </div>
            }
            else
            {
                <input name="ShopmodelId" value="@Model.ShopModelId" type="hidden">
            }
               
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

