@model MyFirstWebApp.Models.Cashier

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cashier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CashierId" />
            
            <div class="form-group">
                <label asp-for="CashierName" class="control-label"></label>
                <input asp-for="CashierName" class="form-control" />
                <span asp-validation-for="CashierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="ShopModelId" class="control-label"></label>
                <input asp-for="ShopModelId" class="form-control" />
                <span asp-validation-for="ShopModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

