@model MyFirstWebApp.Models.DiagramsViewModel


@section Scripts{
<script>
    let model = @Json.Serialize(Model);
</script>
<script src="~/lib/Chart.js/chart.js" asp-append-version="true"></script>
<script src="~/js/Diagrams.js" asp-append-version="true"></script>


}


@{
    ViewData["Title"] = "Diagrams";
}
<h2>@ViewData["Title"]</h2>
<div style="width: 600px; height: 400px;">  
    <canvas id="popChart"></canvas>
</div>
<div style="width: 400px; height: 400px;">
    <canvas id="popChartPie"></canvas>
</div>

